*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../assets/field.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    
}


.container {
    margin:60px;
    padding: 10px;
    height: 450px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    background-color:  rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 6px 6px 5px 5px white;
   
}


@media(max-width: 400px){
    .container{
        flex-direction: column;
        height: 90rem;
       
       
     }

   .card{
    margin-left: 30px;
    margin-top: 20px;
   }
   
  
   body{
    height: 120rem;
   }

}


.card-img-top{
    height: 240px;
}

.card{
    
    box-shadow: 2px 2px 2px 2px black;
}



.card:hover{
    height: 450px;
    color: #0000009b;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    transition-timing-function: ease-in-out ;
    transition-delay: 0s;

}

.btn {
    height: 40px;
    width: 105px;
}