{% extends 'base.html' %}
{% load static %}

<!-- Fertilizer Result Page created by Abhishek Pathak. -->
<!-- This page provides the recommended fertilizer details based on soil and crop analysis. It displays the type of fertilizer, amount, soil condition, and crop type. -->

{% block Link %}
  <link rel="stylesheet" href="{% static 'css/fertilizer.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
{% endblock %}

{% block content %}
  <!-- main content -->
  <main>
    <div class="fertilizer_prediction">
      <div class="fertilizer_card">
        <img src="{% static 'assets/agriculture.jpg' %}" alt="" class="fertilizer_img" />

        <div class="fertilizer_details">
          <h3>Recommended Fertilizer: <span id="fertilizer_name">urea</span></h3>
          <p>
            Type: <span id="fertilizer-type">Nitrogen-based</span>
          </p>
          <p>
            Amount: <span id="fertilizer-amount">50 kg/acre</span>
          </p>
          <p>
            Soil Condition: <span id="soil-condition">Low Nitrogen</span>
          </p>
          <p>
            Crop Type: <span id="crop-type">Wheat</span>
          </p>
        </div>
      </div>

      <div class="fertilizer_card">
        <img src="{% static 'assets/agriculture.jpg' %}" alt="" class="fertilizer_img" />

        <div class="fertilizer_details">
          <h3>Recommended Fertilizer: <span id="fertilizer_name">urea</span></h3>
          <p>
            Type: <span id="fertilizer-type">Nitrogen-based</span>
          </p>
          <p>
            Amount: <span id="fertilizer-amount">50 kg/acre</span>
          </p>
          <p>
            Soil Condition: <span id="soil-condition">Low Nitrogen</span>
          </p>
          <p>
            Crop Type: <span id="crop-type">Wheat</span>
          </p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
