{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FertiSmart</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>
<body>
  
    <!-- Navbar start -->
      <nav class="header">
        <div class="title"> 
          <a href="{{url '/'}}">
            <h1>Ferti Smart</h1>
          </a>
        </div>
        
        <div class="icon" id="icon">
          <span class="line" id="linefirst"></span>
          <span class="line" id="linesecond"></span>
          <span class="line" id="linethird"></span>
        </div>

        <div class="header-right" id="header-right">
          <a class="text" href="{{ url 'about' }}">Sustainability</a>
          <a class="text" href="{{ url 'about' }}">Testing Center</a>
          <a class="text" href="{{ url 'about' }}">About</a>
        </div>
      </nav>
    <!-- Navbar Ends -->



    <!-- Footer start -->
    <footer class="footer">
      <div class="footer-container">
          <div class="footer-links">
              <div class="footer-column">
                <img src="{% static 'assets/pngegg.png' %}}" alt="Logo" class="footer-logo-img">
              </div>
              <div class="footer-column">
                  <h3>Resources</h3>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                      <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
              <div class="footer-column">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                      <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
              <div class="footer-column">
                  <h3>Contact</h3>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                      <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="footer-info">
          <p>&copy; 2024 FertiSmart. All Rights Reserved.</p>
      </div>
  </footer>
   
    <!-- Footer end -->

    
     <script>
        const icon = document.getElementById('icon');
        const headerRight= document.getElementById('header-right');
        var Rotate_1 = document.getElementById('linefirst');
        var Rotate_2 = document.getElementById('linesecond');
        var Rotate_3 = document.getElementById('linethird');

        icon.addEventListener('click', () => {
          headerRight.classList.toggle('active');
          Rotate_1.classList.toggle('rotate');
          Rotate_2.classList.toggle('rotate-2');
          Rotate_3.classList.toggle('rotate-3');
        });
     </script>
</body>
</html>